.disable {
    pointer-events: none;
    opacity: 0.5;
}

.w_container { 
    z-index: 0;
}

.w_menu {
    height: 35px;
    position: absolute;
    border-bottom: 1px solid grey;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto !important;
    background: white;
    border:none;
}

.w_menu .menu-item {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 5px;
}

.w_menu .icon-menu-item {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 5px;
    width: 35px;
}

.w_menu .menu-item-align {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 8px;
}

.w_menu .icon-menu-item-align {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 8px;
    width: 35px;
}

.menu .menu-item-align .fixed {
    width: 150px;
}

.menu .menu-item-align .maxed {
    max-width: 150px;
}

.widget {
    min-height: 275px;
    margin: 10px;
}


/*div::-webkit-scrollbar {
    width: 1em;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
    background-color: #595959;
    outline: 1px solid #595959;
}
*/

.dx-texteditor-buttons-container {
    right: 10px;
}

.dx-switch-container {
    border: 0;
}

.dx-popup-wrapper>.dx-overlay-content {
    border-radius: 0px;
}

.dx-theme-generic-typography a {
    color: #a8a8a8 !important;
}

.dx-calendar-cell.dx-calendar-selected-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today {
    text-shadow: 0 0px 0 white !important;
}
